.qualifications{
    margin: 5rem 0;
    display: flex;
    gap:2rem;
    @include tablet(){
        gap: 5rem;
    }
    justify-content: center;
    align-items: center;
    .education,.work{
        a{
            &:hover{            
                color: $blue;
            }
        }

        display: flex;
        align-items: center;
        svg{
            margin-right: 1rem;
        }
    }
}
.date{
    display: flex;
    svg{
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 1rem;
    }
}